@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School</h1>
<p>Demonstrate how to interact with Javascript in Blazor WebAssembly .NET7 - Blazor School</p>



<h3>IJSRuntime</h3>
<div><NavLink href="call-js-functions-jsruntime">Call JS Functions</NavLink></div>
<div><NavLink href="call-cs-methods-jsruntime">Call C# Methods</NavLink></div>

<h3>InteropServices</h3>
<div><NavLink href="call-js-functions-interopservices">Call JS Functions</NavLink></div>
<div><NavLink href="call-cs-methods-interopservices">Call C# Methods</NavLink></div>


<h3>Common Mistakes</h3>
<div><NavLink href="try-to-remove-blazor-dom">Try to Remove Blazor DOM</NavLink></div>
<div><NavLink href="calling-loop">Calling Loop</NavLink></div>




