@page "/"

<PageTitle>Blazor School code sample</PageTitle>

<h1>Welcome to Blazor School</h1>
<p>Introducing different types of directives in Blazor WebAssembly .NET 7 - Blazor School</p>

<div><NavLink href="compiling-directives" Match="NavLinkMatch.All">Compiling Directives</NavLink></div>
<div><NavLink href="example-dom-interactive" Match="NavLinkMatch.All">Example DOM Interactive</NavLink></div>
<div><NavLink href="blazor-and-html-events" Match="NavLinkMatch.All">Blazor &amp; HTML Events</NavLink></div>
<div><NavLink href="prevent-default-examples" Match="NavLinkMatch.All">Prevent Default Examples</NavLink></div>
<div><NavLink href="stop-propagation-examples" Match="NavLinkMatch.All">Stop Propagation Examples</NavLink></div>
<div><NavLink href="pass-html-events" Match="NavLinkMatch.All">Pass HTML Events</NavLink></div>
<div><NavLink href="pass-parameters" Match="NavLinkMatch.All">Pass Parameters</NavLink></div>
<div><NavLink href="utility-directives">Utility Directives</NavLink></div>

