@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h3>Welcome to Blazor School</h3>
<p>Demonstrate how to interact with a single Api in Blazor WebAssembly .NET 7 - Blazor School</p>


<div><NavLink href="weather-display">Weather Display</NavLink></div>
