@using Shared.Data.Models
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var weatherForecast in WeatherData)
        {
            <tr>
                <td>@weatherForecast.Date.ToShortDateString()</td>
                <td>@weatherForecast.TemperatureC</td>
                <td>@weatherForecast.TemperatureF</td>
                <td>@weatherForecast.Summary</td>
            </tr>
            
        }

    </tbody>
</table>

@code {
    [Parameter]
    public List<WeatherForecast> WeatherData { get; set; } = new();

}
