@page "/cascading-parameter-mistakes"
@using ComponentInteraction.CommonMistake.CascadingParameterMistakes

<h3>Cascading Parameter Mistakes</h3>
<div>
    <TryToUpdateCascadeParameterReferenceGrandParent />
</div>
