@page "/parameter-mistakes"
@using ComponentInteraction.CommonMistake.ParameterMistakes
<div>
    <h3>ParameterMistakes</h3>
    <div>
        <TryToUpdateParameterReferenceParent />
    </div>

</div>

@code {

}
