@page "/interfere-with-http-client-wrapper"
@using Shared.Data.Models
@using NickLovesToCode.Components.RazorComponents
@using SharedLib.Utilities
@inject InterfereWithHttpClientWrapper InterfereWithHttpClientWrapper
<h3>InterfereWithHttpClientWrapperPage</h3>
<hr />
<BookListDisplay Books="Books"/>
<button type="button" @onclick="LoadBooksAsync">讀取書本們</button>

<h1><NavLink href="/">Back to Index</NavLink></h1>

@code {
    public List<BookDetails> Books { get; set; } = new();

    public async Task LoadBooksAsync()
    {
        Books = await InterfereWithHttpClientWrapper.GetAsync<List<BookDetails>>("book") ?? new();
    }



}

