@page "/"

<PageTitle>Blazor navigation code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>
<p>Demonstrate on how navigation works in Blazor WebAssembly - .NET 7</p>


<div><NavLink href="page-1">Navigate by Link</NavLink></div>
<div><NavLink class="nav-link" href="navigate-by-code">Navigate by Code</NavLink></div>
<div><NavLink class="nav-link" href="detect-navigation">Detect Navigation</NavLink></div>

