@page "/creating-functioning-buttons-as-submit"
@using FormDemonstrate.FormModels.CommonMistakes
@using Microsoft.AspNetCore.Components.Forms
<h3>CreatingFunctioningButtonsAsSubmitPage</h3>
<EditForm Model="FormModel" OnSubmit="HandleSubmit">
    <button>Submit (button tag)</button>
    <input type="submit" value="Submit (input tag)"/>
    <input type="button" @onclick="Method1" value="Call Method (input tag)"/>
    <button type="button" @onclick="Method1" value="AAAAA">Call Method (button tag)</button>
    <button @onclick="Method1">(Not intended) Call Method & Submit</button>

</EditForm>
@((MarkupString)Log)


<h1><NavLink href="/">Back to Index</NavLink></h1>


@code {
    public CreatingFunctioningButtonsAsSubmitFormModel FormModel { get; set; } = new();
    public string Log { get; set; } = "";


    public void HandleSubmit()
    {
        Log += $"<div><span class='text-primary'>{nameof(HandleSubmit)} called!</div>";

    }

    public void Method1()
    {
        Log += $"<div><span class='text-primary'>{nameof(Method1)} called!</div>";
    }

}
