@page "/"
<PageTitle>Blazor School code sample</PageTitle>

<h3>Welcome to Blazor School</h3>
<p>Demonstrate the EditForm component in Blazor WebAssembly .NET 7 - Blazor School</p>

<div><NavLink href="blazor-forms-vs-html-forms">Compare Between EditForm and HTML form</NavLink></div>
<div><NavLink href="simple-blazor-forms">Simple Blazor EditForm</NavLink></div>
<div><NavLink href="blazor-form-events">EditForm Events</NavLink></div>
<div><NavLink href="disable-form-controls">Disable EditForm Fields</NavLink></div>
<div><NavLink href="all-controls-usage">All Form Controls Usage</NavLink></div>
<div>Validation</div>
<div><NavLink href="validation-against-dynamic-data">Validate Against Dynamic Data</NavLink></div>
<div><NavLink href="validation-against-static-data">Validate Against Static Data</NavLink></div>
<div>Common Mistakes</div>
<div><NavLink href="creating-functioning-buttons-as-submit">Creating Functioning Buttons as Submit</NavLink></div>
<div><NavLink href="forgetting-data-annotations-validator-tag">Forgeting DataAnnotationsValidator Tag</NavLink></div>
<div><NavLink href="updating-field-value-without-notifying-field-changed">Updating Field Value Without Notifying Field Changed</NavLink></div>


