@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h2>Welcome to Blazor School</h2>

<p>Demonstrate how to use Browser Storage in Blazor WebAssembly .NET 7 - Blazor School</p>

<div><NavLink href="cache-storage">Cache Storage</NavLink></div>
<div><NavLink href="cookies-storage">Cookies Storage</NavLink></div>
<div><NavLink href="indexed-db-storage">IndexedDb Storage</NavLink></div>
<div><NavLink href="local-storage">Local Storage</NavLink></div>
<div><NavLink href="memory-storage">Memory Storage</NavLink></div>
<div><NavLink href="session-storage">Session Storage</NavLink></div>
