@page "/compare-service-scopes"
@using DependencyInjection.Components

<h3>CompareServiceScopes</h3>
<div>
    <div class="with-border">
        <ExampleComponent1 />

    </div>
    <div class="with-border">
        <ExampleComponent2 />

    </div>
</div>

<h1><NavLink href="/">Back to Index</NavLink></h1>
