@page "/"
<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School</h1>
<p>Demonstrate how to interact with a multiple apis in Blazor WebAssembly .NET7 - Blazor School</p>

<hr />
<h2>Sending Requests:</h2>
<div><NavLink href="/sending-complex-data">Sending Complex Data</NavLink></div>
<div><NavLink href="/sending-data-via-url">Sending Data via URL</NavLink></div>
<div><NavLink href="/sending-primitive-data">Sending Primitive Data</NavLink></div>
<div><NavLink href="/sending-stream">Sending Stream</NavLink></div>
<h2>Process Responses:</h2>
<div><NavLink href="/process-json-response-data-by-microsoft-library">Process JSON Response with System.Text.Json</NavLink></div>
<div><NavLink href="/process-json-response-data-by-newtonsoft-library">Process JSON Response with Newtonsoft.Json</NavLink></div>
<div><NavLink href="/process-primitive-response-data">Process Primitive Response</NavLink></div>
<div><NavLink href="/process-stream-data">Process Stream Data</NavLink></div>
<h2>Register HttpClient:</h2>
<div><NavLink href="/derived-class">Derived HttpClient</NavLink></div>
<div><NavLink href="/http-client-wrapper">HttpClient Wrapper</NavLink></div>
<div><NavLink href="/named-http-client">Name HttpClient</NavLink></div>
<h2>Interfere Requests:</h2>
<div><NavLink href="http-client-with-middlewares">HttpClient with Middleware</NavLink></div>
<div><NavLink href="interfere-with-http-client-extensions">HttpClient Extensions</NavLink></div>
<div><NavLink href="interfere-with-http-client-wrapper">HttpClient Wrapper</NavLink></div>

