@page "/"


<PageTitle>Blazor School code sample</PageTitle>

<h1>Welcome to Blazor School</h1>
<p>Demonstrate content projection in Blazor WebAssembly .NET7 - Blazor School</p>

<div><NavLink href="single-slot-projection">Single Slot Projection</NavLink></div>
<div><NavLink href="multiple-slots-projection">Multiple Slots Projection</NavLink></div>
<div><NavLink href="generic-projection">Generic Projection</NavLink></div>
