@page "/single-slot-projection"
@using ContentProjection.Components
<h3>SingleSlotProjectionPage</h3>
<SingleProjectableSlot>
    <h1>
    This is the content from the parent (SingleSlotProjectionPage)
    </h1>
</SingleProjectableSlot>

<div><NavLink href="/">Back to Index</NavLink></div>

@code {

}
