@page "/"

<h1>Blazor School Code sample</h1>
<p>Demonstrate website layout in Blazor WebAssembly in .NET 7</p>


<div><NavLink href="layout-for-folder-1">Layout for folder (1)</NavLink></div>
<div><NavLink href="layout-for-folder-2">Layout for folder (2)</NavLink></div>
<div><NavLink href="layout-for-folder-3">Layout for folder (Sub folder)</NavLink></div>
<div><NavLink href="layout-directive">@@layout directive</NavLink></div>
<div><NavLink href="layout-view">LayoutView component</NavLink></div>
<div><NavLink href="nested-layout">Nested layout</NavLink></div>
