@page "/layout-view"
@using WebsiteLayout.Layouts
<h3>LayoutViewDemonstrate</h3>
<LayoutView Layout="@typeof(OneColumnLayout)">
    Content11111


</LayoutView>
<LayoutView Layout="@typeof(TwoColumnLayout)">
    Content2222

</LayoutView>

@code {

}
