<div>
    <h3>Child</h3>
    <p>Received value: "@ExampleInstance.Data"</p>
    <button @onclick="UpdateVal">Update value</button>

</div>
@code {
    [Parameter]
    public ExampleClass ExampleInstance { get; set; } = new();

    [Parameter]
    public EventCallback ExampleInstanceChanged { get; set; }


    public void UpdateVal()
    {
        ExampleInstance.Data = "Value UPDATED in Child";
        ExampleInstanceChanged.InvokeAsync();
    }
}
