@page "/external-styles"

<PageTitle>External style demo</PageTitle>


<link href="/css/external.css" rel="stylesheet"/>@*You should move this to index.html*@ 
<h3 class="external">The text is formatted with red background and yellow color in the external file external.css</h3>

<h1><NavLink href="/">Back to Index</NavLink></h1>
