@page "/"
<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School</h1>
<p>Demonstrate different ways to use CSS in a component in Blazor WebAssembly .NET 7 - Blazor School</p>

<div><NavLink href="global-styles">Global Styles</NavLink></div>
<div><NavLink href="scoped-styles">Scoped Styles</NavLink></div>
<div><NavLink href="overriding-scoped-styles">Overrideing Scoped Styles</NavLink></div>
<div><NavLink href="inline-styles">Inline Styles</NavLink></div>
<div><NavLink href="internal-styles">Internal Styles</NavLink></div>
<div><NavLink href="external-styles">External Styles</NavLink></div>

